/* Global things */
body {
	color: var(--color);
	overflow: hidden;
	--background: #0f0f0f;
	--color: #dfdfdf;
	--points: #ffffff;
	background: var(--background);
}

/* General text */
h1, h2, h3, b, input {
	display: inline;
	font-family: "Lucida Console", "Courier New", "monospace"
}

/* Layer Text */
.layer-A {
	color: #A5BCC2;
	text-shadow: 0 0 10px #A5BCC2;
}

.layer-e {
	color: #4CED13;
	text-shadow: 0 0 10px #4CED13;
}

.layer-e-dark {
	color: #078600;
	text-shadow: 0 0 10px #078600;
}

.layer-c {
	color: #D2D237;
	text-shadow: 0 0 10px #D2D237;
}

.layer-c-dark {
	color: #B1B10E;
	text-shadow: 0 0 10px #B1B10E;
}

.layer-q {
	color: #DB5196;
	text-shadow: 0 0 10px #DB5196;
}

.layer-q-dark {
	color: #A91064;
	text-shadow: 0 0 10px #A91064;
}

.layer-sp {
	color: #710CC4;
	text-shadow: 0 0 10px #710CC4;
}

.layer-sp-dark {
	color: #2E0874;
	text-shadow: 0 0 10px #2E0874;
}

.layer-h {
	color: #E36409;
	text-shadow: 0 0 10px #E36409;
}

.layer-h-dark {
	color: #9B3404;
	text-shadow: 0 0 10px #9B3404;
}

.layer-ds {
	color: #BA0035;
	text-shadow: 0 0 10px #BA0035;
}

.layer-ds-dark {
	color: #52050E;
	text-shadow: 0 0 10px #52050E;
}

.layer-a {
	color: #4D2FE0;
	text-shadow: 0 0 10px #4D2FE0;
}

.layer-a-dark {
	color: #200992;
	text-shadow: 0 0 10px #200992;
}

.layer-p {
	color: #FDBBFF;
	text-shadow: 0 0 10px #FDBBFF;
}

.layer-p-dark {
	color: #D766DD;
	text-shadow: 0 0 10px #D766DD;
}

.layer-s {
	color: #AAFF00;
	text-shadow: 0 0 10px #AAFF00;
}

.layer-s-dark {
	color: #88DD00;
	text-shadow: 0 0 10px #88DD00;
}

.layer-r {
	color: #B9A975;
	text-shadow: 0 0 10px #B9A975;
}

.layer-r-dark {
	color: #776B44;
	text-shadow: 0 0 10px #776B44;
}

.layer-m {
	color: #00CCCC;
	text-shadow: 0 0 10px #00CCCC;
}

.layer-m-dark {
	color: #008080;
	text-shadow: 0 0 10px #008080;
}

.layer-m-light {
	color: #00E0E0;
	text-shadow: 0 0 10px #00FFFF;
}

.layer-gi {
	color: #08FF87;
	text-shadow: 0 0 10px #08FF87;
}

.layer-gi-dark {
	color: #07C268;
	text-shadow: 0 0 10px #07C268;
}

/* These are styles for different states of components. You can make layer-specific versions with .c.locked, for example */
.locked {
	background-color: #bf8f8f;
	cursor: not-allowed;
}

/* Can meens can be clicked/bought/etc */
.can {
	cursor: pointer;
}

.can:hover {
	transform: scale(1.15, 1.15);
	box-shadow: 0 0 20px var(--points)
}

.bought {
	background-color: #77bf5f;
	cursor: default;
}

#points {
	color: var(--points);
	text-shadow: 0 0 10px var(--points);
}
